table{
  border-collapse:collapse;
  margin:50px auto;
}
th{
  color:#005ab3;
  text-align: center;
}
td{
  border-bottom:1px dashed #999;
  text-align: center;
}
th,tr:last-child td{
  border-bottom:2px solid #005ab3;
}
td,th{
  padding:10px;
}
.adminButton{
  color: black;
}
