.needs-validation{
  width: 320px;
  margin-top: 50px;
  margin-right: auto;
  margin-left: auto;
}

.editPass-button{
  width: 320px;
}

.title{
  font-family: cursive;
  text-align: center;
  font-size: 32px;
  margin-bottom: 32px;
}

.editPass-error{
  text-align: center;
  color:red;
  font-size:14px;
}
