.content {
  padding: 10px;
  border: 3px;
}

.typeFont{
  color: black;
  padding: 2px;
}
.modalButton{
  padding-top: 30px;
  display: flex;
  justify-content: space-evenly;
}
.modalTitle{
  text-align: center;
  margin-top: 30px;
}

.modalClose{
  float: right;
}
.radarChart{
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 50px;
}
.questionLink{
  color: white;
  background: #a180dc;
  padding: .375rem .75rem;
  border-radius: .25rem;
}
.questionLink:hover {
  background: #91b5fb;
}
.loginName{
  color: black;
  text-decoration: none;
  padding: 5px;
  border-radius: .80rem;
  border: 2px solid #e9ecef;
  text-align: right;
  display: table;
  margin-left: auto;
  margin-right: 30px;
}
