.header-logo{

}
nav ul {
  /* font-size: 12px; */
}
nav li.home{
  font-family: "HGP行書体", "ＭＳ Ｐ明朝", "MS PMincho", serif;
  font-size: 32px;
}
nav li{
  display: table-cell;
}
nav a{
  display: block;
  width: 100%;
  text-decoration: none;
  color: #555;
}
nav li.home:hover{
  border-bottom: 3px solid #92D050;
}
nav li:hover{
  color: #E7DA66;
  border-bottom: 3px solid #F0E475;
}
.link{
  margin-left: 32px;
}
