.needs-validation{
  width: 320px;
  margin: 50px auto;
}
.loginbutton{
  width: 320px;
}
.title{
  font-family: cursive;
  text-align: center;
  font-size: 32px;
  margin-bottom: 32px;
}



.signupTitle{
  text-align: center;
  font-size: 32px;
}
.signupIn{
  width: 20em;
}
.loginValidation{
  text-align: center;
  color: #dc3545;
}
















/* aaaaaaaaaaaaaa */
