
.main {
  width: 50%;
  margin: 0 auto;
  font-size: 15px;
}

.question{
  text-align: left;
}

.question-text{
  font-size: 20px;
  margin-top:30px;
}

.question-button {
  margin-left:200px;
  margin-top:20px;
  margin-bottom:50px;
}

.question-error{
  text-align: center;
  color:red;
  font-weight:bold;
}
